
body{
   background-color: burlywood;
}

.chessboard
{
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: repeat(8, 1fr);
   width: 200px;
   
   
}

.blackclass
{
   background-color: black;
}

.whiteclass
{
background-color: wheat;
}

.squre
{
   width: 50px;
  height: 50px;
   
}